
.publication__image{
max-width:55ch;
display: block;
max-height: 395px;
overflow: hidden;
object-fit: cover;
}

@media (max-width:1000px){
.publication__image {max-width:42ch;}
}


.publication__paragraphe{
margin-top: 20px;
margin-bottom: 10px;
max-width:60ch;
font-size: 1.05rem;
}


.publication__bouton { 
margin-top: 20px;
background-color: red;

color: white;
padding: 12.5px;
border-radius: 5px;
font-weight: 700;
}

.publication__bouton:hover{ 
background-color: #364A4C;
   
}



@media (max-width:780px){
   .publication +.publication {
       margin-top: 40px;
   }
}